@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: #240000;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}