<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve HTML files without extensions
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^([^\.]+)$ $1.html [NC,L]

  # Handle 404
  ErrorDocument 404 /404.html
</IfModule>
